<a href="https://colab.research.google.com/github/Riz08/My-python-practice-repo/blob/main/LR_categorical.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn.linear_model import LinearRegression
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv('homeprices_categorical.csv')
df

           Town  Area   Price
0   Koramangala  2600  550000
1   Koramangala  3000  565000
2   Koramangala  3200  610000
3   Koramangala  3600  680000
4   Koramangala  4000  725000
5     Jayanagar  2600  585000
6     Jayanagar  2800  615000
7     Jayanagar  3300  650000
8     Jayanagar  3600  710000
9   Indiranagar  2600  575000
10  Indiranagar  2900  600000
11  Indiranagar  3100  620000
12  Indiranagar  3600  695000

In [3]:
df.shape

(13, 3)

In [4]:
df.describe()

              Area          Price
count    13.000000      13.000000
mean   3146.153846  629230.769231
std     453.900475   57621.109914
min    2600.000000  550000.000000
25%    2800.000000  585000.000000
50%    3100.000000  615000.000000
75%    3600.000000  680000.000000
max    4000.000000  725000.000000

In [5]:
df.describe(include='all')

               Town         Area          Price
count            13    13.000000      13.000000
unique            3          NaN            NaN
top     Koramangala          NaN            NaN
freq              5          NaN            NaN
mean            NaN  3146.153846  629230.769231
std             NaN   453.900475   57621.109914
min             NaN  2600.000000  550000.000000
25%             NaN  2800.000000  585000.000000
50%             NaN  3100.000000  615000.000000
75%             NaN  3600.000000  680000.000000
max             NaN  4000.000000  725000.000000

In [6]:
df.columns

Index(['Town', 'Area', 'Price'], dtype='object')

In [7]:
#to get unique value of Town
df['Town'].unique()
towns = df['Town'].unique()
towns

array(['Koramangala', 'Jayanagar', 'Indiranagar'], dtype=object)

In [9]:
n = df.shape[0]
for i in range (n):
  #print(df.iloc[i])   #Access row one by one
  pass

Town     Koramangala
Area            2600
Price         550000
Name: 0, dtype: object
Town     Koramangala
Area            3000
Price         565000
Name: 1, dtype: object
Town     Koramangala
Area            3200
Price         610000
Name: 2, dtype: object
Town     Koramangala
Area            3600
Price         680000
Name: 3, dtype: object
Town     Koramangala
Area            4000
Price         725000
Name: 4, dtype: object
Town     Jayanagar
Area          2600
Price       585000
Name: 5, dtype: object
Town     Jayanagar
Area          2800
Price       615000
Name: 6, dtype: object
Town     Jayanagar
Area          3300
Price       650000
Name: 7, dtype: object
Town     Jayanagar
Area          3600
Price       710000
Name: 8, dtype: object
Town     Indiranagar
Area            2600
Price         575000
Name: 9, dtype: object
Town     Indiranagar
Area            2900
Price         600000
Name: 10, dtype: object
Town     Indiranagar
Area            3100
Price         620000
Name: 11, dtype: object
Town     Indiranagar
Area            3600
Price         695000
Name: 12, dtype: object

In [14]:
for i in range(n):
  print(df.iloc[i,0], end=' ')
  print(list(towns).index(df.iloc[i,0])) #Access only first column of every row

Koramangala 0
Koramangala 0
Koramangala 0
Koramangala 0
Koramangala 0
Jayanagar 1
Jayanagar 1
Jayanagar 1
Jayanagar 1
Indiranagar 2
Indiranagar 2
Indiranagar 2
Indiranagar 2

In [13]:
df['town_no'] = 0
for i in range(n):
  df.iloc[i,3] = list(towns).index(df.iloc[i,0])
df

           Town  Area   Price  town_no
0   Koramangala  2600  550000        0
1   Koramangala  3000  565000        0
2   Koramangala  3200  610000        0
3   Koramangala  3600  680000        0
4   Koramangala  4000  725000        0
5     Jayanagar  2600  585000        1
6     Jayanagar  2800  615000        1
7     Jayanagar  3300  650000        1
8     Jayanagar  3600  710000        1
9   Indiranagar  2600  575000        2
10  Indiranagar  2900  600000        2
11  Indiranagar  3100  620000        2
12  Indiranagar  3600  695000        2

In [15]:
#Linear regression
X = df[['town_no','Area']]
y = df['Price']
model = LinearRegression()

In [16]:
#Train the model
model.fit(X, y)

LinearRegression()

In [17]:
#slope or coefficient or gradient
model.coef_

array([13440.79309712,   124.02423352])

In [18]:
#y intercept or bias
model.intercept_

226624.56398017285

![image.png]()

In [23]:
model.predict([[0,2600],[1,3600],[2,2600]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([549087.57114008, 686552.59776023, 575969.15733431])

In [20]:
model.score(X,y)

0.9067640212781204

In [21]:
try:
  df.drop('town_no', axis='columns',inplace=True)
except:
  pass

In [22]:
df

           Town  Area   Price
0   Koramangala  2600  550000
1   Koramangala  3000  565000
2   Koramangala  3200  610000
3   Koramangala  3600  680000
4   Koramangala  4000  725000
5     Jayanagar  2600  585000
6     Jayanagar  2800  615000
7     Jayanagar  3300  650000
8     Jayanagar  3600  710000
9   Indiranagar  2600  575000
10  Indiranagar  2900  600000
11  Indiranagar  3100  620000
12  Indiranagar  3600  695000

In [ ]:
#help(pd.get_dummies)

In [24]:
dummies = pd.get_dummies(df['Town'])
dummies

    Indiranagar  Jayanagar  Koramangala
0             0          0            1
1             0          0            1
2             0          0            1
3             0          0            1
4             0          0            1
5             0          1            0
6             0          1            0
7             0          1            0
8             0          1            0
9             1          0            0
10            1          0            0
11            1          0            0
12            1          0            0

In [ ]:
#Area, price, Indiranagar	Jayanagar	Koramangala
#2600,  55000,  0,           0,         1
#----  -----   --            --        --
#3600  695000,  1            0,         0

In [25]:
#concat dummies and df 
df_dummies = pd.concat([df, dummies], axis='columns')
df_dummies

           Town  Area   Price  Indiranagar  Jayanagar  Koramangala
0   Koramangala  2600  550000            0          0            1
1   Koramangala  3000  565000            0          0            1
2   Koramangala  3200  610000            0          0            1
3   Koramangala  3600  680000            0          0            1
4   Koramangala  4000  725000            0          0            1
5     Jayanagar  2600  585000            0          1            0
6     Jayanagar  2800  615000            0          1            0
7     Jayanagar  3300  650000            0          1            0
8     Jayanagar  3600  710000            0          1            0
9   Indiranagar  2600  575000            1          0            0
10  Indiranagar  2900  600000            1          0            0
11  Indiranagar  3100  620000            1          0            0
12  Indiranagar  3600  695000            1          0            0

In [28]:
X = df_dummies.drop(['Town','Price'], axis='columns')
y = df['Price']

In [29]:
model.fit(X,y)

LinearRegression()

In [30]:
model.score(X,y)

0.9573929037221873

![image.png]()

In [31]:
model.predict([[2600,0,0,1],[2600,0,1,0],[2600,1,0,0]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([539709.73984091, 579723.71533005, 565396.15136531])

In [32]:
X.head(1)

   Area  Indiranagar  Jayanagar  Koramangala
0  2600            0          0            1

In [33]:
df_dummies.drop('Koramangala', axis='columns', inplace=True)

In [34]:
df_dummies.columns

Index(['Town', 'Area', 'Price', 'Indiranagar', 'Jayanagar'], dtype='object')

In [35]:
X = df_dummies.drop(['Town','Price'], axis='columns')
y = df['Price']

In [36]:
model.fit(X,y)

LinearRegression()

In [37]:
model.score(X,y)

0.9573929037221872

In [38]:
model.predict([[2600,0,0],[2600,0,1],[2600,1,0]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([539709.7398409 , 579723.71533004, 565396.1513653 ])

In [39]:
#Labeencoder
le = LabelEncoder()
df['town_no'] = le.fit_transform(df['Town'])
df

           Town  Area   Price  town_no
0   Koramangala  2600  550000        2
1   Koramangala  3000  565000        2
2   Koramangala  3200  610000        2
3   Koramangala  3600  680000        2
4   Koramangala  4000  725000        2
5     Jayanagar  2600  585000        1
6     Jayanagar  2800  615000        1
7     Jayanagar  3300  650000        1
8     Jayanagar  3600  710000        1
9   Indiranagar  2600  575000        0
10  Indiranagar  2900  600000        0
11  Indiranagar  3100  620000        0
12  Indiranagar  3600  695000        0

In [40]:
#model training
model.fit(df[['Area','town_no']], df['Price'])

LinearRegression()

In [41]:
#Prediction
model.predict([[2600,2],[2660,1],[2600,0]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([549087.57114008, 569969.81824858, 575969.15733431])

In [42]:
X = df[['Area','town_no']]
y = df['Price']

In [43]:
model.score(X,y)

0.9067640212781202