<a href="https://colab.research.google.com/github/Riz08/My-python-practice-repo/blob/main/Object_oriented_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#OBJECT ORIENTED PROGRAMMING
# from a class many objects can be created
# under class a group of data and functionality is put in together under a single unit called class
#object is a subclass of a class where class refence is used
#attributes are variables that are specific to class 
#destructors-Deletes the objrcts when the use of object is finished. __del__ is called destructors




class Coronacases:
    
    
    def __init__(self,country,region,amount):
        self.country=country
        self.region=region
        self.amount=amount
        self.writting= country+" is in " +region+ " with amount of people "+ amount +" infected"
        #we can create new attribute if we use all in it functions and strings
        
country1= Coronacases("Finland","Nordic","5000")
                    #country,region,amount

print (country1.__dict__) #dict is used to get a dictionary



##new function

class Coronacases:
    
    
    def __init__(self,country,region,amount):
        self.country=country
        self.region=region
        self.amount=amount
        self.writting= country+" is in " +region+ " with amount of people "+ amount +" infected"
        #we can create new attribute if we use all in it functions and strings
        
        
    def fullname(self):
        return "{} {}".format(self.country,self.region)
        

country1= Coronacases("Finland","Nordic","5000")
                    #country,region,amount

print (country1.fullname()) #need to use () always

{'country': 'Finland', 'region': 'Nordic', 'amount': '5000', 'writting': 'Finland is in Nordic with amount of people 5000 infected'}
Finland Nordic

In [ ]:
class Customerdata :


  def __init__(self,name,phonenumber,pieces,spend,gmail):
    self.name=name
    self.phonenumber=phonenumber
    self.pieces=pieces
    self.spend=spend
    self.gmail=gmail
    self.write= name+ " has bought "+pieces+" pieces and spend around "+spend+ " euros.His phone number is "+ phonenumber+" and gmail ID is "+ gmail

  def check_valuable_customer(self):
    if self.spend>"1300":
      return ("The customer is valuable")
    else:
      return ("The customer is not regular buyer")

first_customer= Customerdata("Riza","0447208261","7","1254","rizabintaher08@gmail.com")
first_customer.check_valuable_customer
print (first_customer.write)
print (first_customer.check_valuable_customer())

Riza has bought 7 pieces and spend around 1254 euros.His phone number is 0447208261 and gmail ID is rizabintaher08@gmail.com
The customer is not regular buyer

In [ ]:
class Country:
  def Asia(self):
    print("India is in Asia")
obj1=Country()
obj1.Asia()
country.Asia(name)

India is in Asia

In [ ]:

class Dog:
  def breed(self):
    print("Dogs have different types of breed")

obj1= Dog()
obj1.breed()

Dogs have different types of breed

In [ ]:
class Continents:
  def __init__(self):
    print("This function is a constructor function.Whatever object we call it will loop through constructor as many times as many objects we have")

  def Country(self):
    print("This is not a constructor")

obj1= Continents()
obj2= Continents()
obj3= Continents()
obj4= Continents()

obj1.Country

This function is a constructor function.Whatever object we call it will loop through constructor as many times as many objects we have
This function is a constructor function.Whatever object we call it will loop through constructor as many times as many objects we have
This function is a constructor function.Whatever object we call it will loop through constructor as many times as many objects we have
This function is a constructor function.Whatever object we call it will loop through constructor as many times as many objects we have
This is not a constructor

In [ ]:
class Fish:
  def __init__(self):
    self.name="pegy"
    self.color="golden"
  def feed(self):
    print("I love worms")

obj=Fish()

print(obj.__dict__)
obj.feed()

obj.name = "liji"
print(obj.__dict__)

{'name': 'pegy', 'color': 'golden'}
I love worms
{'name': 'liji', 'color': 'golden'}

In [18]:

class name():
    def __init__(self):
        print("Hello World")
    def welcome(self):
        print("welcome to cranes")

obj=name()
obj.welcome()

Hello World

In [ ]:
class Car:
  def __init__(self,model,fuel):
    self.model=model
    self.fuel=fuel
  def show(self):
    print("None of the cars are available in showroom .Needs to be ordered")

obj1= Car("BMW","Diesel")
obj2= Car("AUDI","Petrol")

print(obj1.model)
print(obj2.__dict__)
obj1.show()
obj2.model="Tesla"  #how to change data
print(obj2.__dict__)

BMW
{'model': 'AUDI', 'fuel': 'Petrol'}
None of the cars are available in showroom .Needs to be ordered
{'model': 'Tesla', 'fuel': 'Petrol'}

In [ ]:
#write a program with firsta name and last anme


class FullName:
  def __init__(self,first,last):
    self.first=first
    self.last=last
  def call_name(self):
    print("Hello","{} {}".format(self.first,self.last))

obj1= FullName("Riza","Taher")
obj1.call_name()

Hello Riza Taher

In [ ]:
class Person:
  def __init__(self,name,gender,age = 21):
    self.name = name
    self.gender = gender
    self.age = age
    print("objects and created",id(self))
  def __del__(self):
    print("objects are deleted",id(self))
  def __str__(self):
    return self.name+" "+self.gender+" "+str(self.age)
  def birthday(self):
    self.age=self.age+1

p1 = Person("geetha","female")
p2 = Person("Sachin","male",19)
print(p1)
print(p2)
p1.birthday()
p2.birthday()
print(p1)
print(p2)

objects and created 139978471741008
objects and created 139978471739920
geetha female 21
Sachin male 19
geetha female 22
Sachin male 20

In [ ]:
##claculate the area of a circle

class Circle():
    def __init__(self, r):
        self.radius = r

    def area(self):
        return self.radius**2*3.14
    
    def perimeter(self):
        return 2*self.radius*3.14

object= Circle(10)
print(object.area())
print(object.perimeter())

314.0
62.800000000000004

In [30]:
"""1.write a python class display the type of it and display the_-dict__ .
2.write a python class to reverse string word by word.
3.Create a class called vehicle and child class and as bus tha will inherit all variable and method of vehicle. Class.

4.Create a class vehicle and child have methods with private data members and access it .
5.Creat a class called bus bike plane truck and inherit all properties of above class in child class called as transport"""

##1.write a python class display the type of it and display the_-dict__ .
class myfunc:
  def __init__(self):
    self.father="Riza"
    self.mother="Fahima"
    self.son="Sarb"

obj1= myfunc()

print(type(obj1))
print (obj1.__dict__)

#2.write a python class to reverse string word by word.#


class Reverse:
  def __init__(self,word):
    self.word=word
  def myfunc(self):
    return (reversed(self.word.split()))


obj= Reverse("Riza Bin")
obj1=obj.myfunc()
print(" ".join(list(obj1)))

<class '__main__.myfunc'>
{'father': 'Riza', 'mother': 'Fahima', 'son': 'Sarb'}
Bin Riza

In [ ]:
##global variable is created outside the function and used inside function

tem=0   #creat a reg no serial

class Student:
  def __init__(self,name,sem=1):  #regno not in arguments in __init__func
    global tem
    tem=tem+1
    self.name=name
    self.regno=tem
    self.sem=sem
    print("objects and created",id(self))
  def __del__(self):
    print("objects are deleted",id(self))
  def __str__(self):
    return self.name+" "+str(self.regno)+" "+str(self.sem)
  def promotion(self):
    self.sem=self.sem+1
obj1= Student("Riza",3)
obj2=Student("Fahima",2)

print(obj1)
print(obj2)

obj1.promotion()
obj2.promotion()

print(obj1)
print(obj2)

objects and created 139978471546448
objects and created 139978471545360
Riza 1 3
Fahima 2 2
Riza 1 4
Fahima 2 3
objects are deleted 139978471887952
objects are deleted 139978471749008

In [ ]:
#class  variable is inside the function
"""here the class variable is inside the class and 
inside __init__ we will use classname.classvariable"""

class Student:
  count=0
  def __init__(self,name,sem):  
    Student.count=Student.count+1
    self.name=name
    self.empco=Student.count
    self.sem=sem
  def __str__(self):
    return self.name+" "+str(self.empco)+" "+str(self.sem)
  def total(self):
    print("Total number of students",Student.count)
obj1= Student("Riza",3)
obj2=Student("Fahima",2)

print(obj1)
print(obj2)

obj1.total()

Riza 1 3
Fahima 2 2
Total number of students 2