<a href="https://colab.research.google.com/github/Riz08/My-python-practice-repo/blob/main/Pandas_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#catagorical time
#machine learning understnads only numbers not text
#unique
#mode gives the most frequncy value.
#value_counts gives amount frequncy of each values

import pandas as pd
import numpy as np

data=pd.Series(["Tim","Riza","Taher","Riza"])
data

0      Tim
1     Riza
2    Taher
3     Riza
dtype: object

In [ ]:
#unique values
pd.unique(data)

array(['Tim', 'Riza', 'Taher'], dtype=object)

In [ ]:
pd.value_counts(data)

Riza     2
Tim      1
Taher    1
dtype: int64

In [ ]:
pd.Series.mode(data)

0    Riza
dtype: object

In [2]:
#From a pandas data frame find the maximum and minimum elements
import pandas as pd
import numpy as np

#List of tuples
matrix =[
         (10, 56, 17),
         (np.NaN, 23, 11),
         (49, 36, 55),
         (75, np.NaN, 34),
         (89, 21, 44)
]
matrix

[(10, 56, 17), (nan, 23, 11), (49, 36, 55), (75, nan, 34), (89, 21, 44)]

In [3]:
type(matrix)

list

In [4]:
#create a data frame
df = pd.DataFrame(matrix, index=list('abcde'), columns=list('xyz'))
df

      x     y   z
a  10.0  56.0  17
b   NaN  23.0  11
c  49.0  36.0  55
d  75.0   NaN  34
e  89.0  21.0  44

In [5]:
maxvalues = df.max()
maxvalues

x    89.0
y    56.0
z    55.0
dtype: float64

In [6]:
minvalues = df.min()
minvalues

x    10.0
y    21.0
z    11.0
dtype: float64

In [8]:
#Find the maximum value of a single column
a = df['x'].max()
a

89.0

In [9]:
#Find the max value among each columns
max_all_col = df[['x','y','z']].max()
max_all_col

x    89.0
y    56.0
z    55.0
dtype: float64

In [10]:
#Pandas data frame add
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.rand(10,3), columns=['A','B','C'])
df

          A         B         C
0  0.585838  0.962727  0.299751
1  0.307099  0.078027  0.707381
2  0.955700  0.704274  0.903934
3  0.587840  0.184514  0.404448
4  0.628016  0.955884  0.099992
5  0.411989  0.731722  0.728319
6  0.537031  0.642462  0.042590
7  0.356978  0.623221  0.997456
8  0.746319  0.249540  0.285533
9  0.670085  0.849987  0.496949

In [11]:
#Now fill the last row with NaN
df.iloc[-1]=np.NaN
df

          A         B         C
0  0.585838  0.962727  0.299751
1  0.307099  0.078027  0.707381
2  0.955700  0.704274  0.903934
3  0.587840  0.184514  0.404448
4  0.628016  0.955884  0.099992
5  0.411989  0.731722  0.728319
6  0.537031  0.642462  0.042590
7  0.356978  0.623221  0.997456
8  0.746319  0.249540  0.285533
9       NaN       NaN       NaN

In [12]:
#Adding a constant value to the dataframe using add() function
df.add(1)

          A         B         C
0  1.585838  1.962727  1.299751
1  1.307099  1.078027  1.707381
2  1.955700  1.704274  1.903934
3  1.587840  1.184514  1.404448
4  1.628016  1.955884  1.099992
5  1.411989  1.731722  1.728319
6  1.537031  1.642462  1.042590
7  1.356978  1.623221  1.997456
8  1.746319  1.249540  1.285533
9       NaN       NaN       NaN

In [15]:
#Give a default value of 10 to all NaN value
df.add(1,fill_value=10)

           A          B          C
0   1.585838   1.962727   1.299751
1   1.307099   1.078027   1.707381
2   1.955700   1.704274   1.903934
3   1.587840   1.184514   1.404448
4   1.628016   1.955884   1.099992
5   1.411989   1.731722   1.728319
6   1.537031   1.642462   1.042590
7   1.356978   1.623221   1.997456
8   1.746319   1.249540   1.285533
9  11.000000  11.000000  11.000000

In [18]:
#Adding a series to a data frame
s1 = pd.Series(np.ones(10))
s1

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
7    1.0
8    1.0
9    1.0
dtype: float64

In [19]:
df

          A         B         C
0  0.585838  0.962727  0.299751
1  0.307099  0.078027  0.707381
2  0.955700  0.704274  0.903934
3  0.587840  0.184514  0.404448
4  0.628016  0.955884  0.099992
5  0.411989  0.731722  0.728319
6  0.537031  0.642462  0.042590
7  0.356978  0.623221  0.997456
8  0.746319  0.249540  0.285533
9       NaN       NaN       NaN

In [20]:
#how to add one coloumn from one table to another table
df.add(s1, axis=0)

          A         B         C
0  1.585838  1.962727  1.299751
1  1.307099  1.078027  1.707381
2  1.955700  1.704274  1.903934
3  1.587840  1.184514  1.404448
4  1.628016  1.955884  1.099992
5  1.411989  1.731722  1.728319
6  1.537031  1.642462  1.042590
7  1.356978  1.623221  1.997456
8  1.746319  1.249540  1.285533
9       NaN       NaN       NaN

In [21]:
#pandas vectorization
#Lets create a sample data frame with 100K

import numpy as np
import pandas as pd
import timeit

df = pd.DataFrame({
    'cola': np.random.randint(1,100, size=100000),
    'colb': np.random.randint(100, 1000, size=100000),
    'colc': np.random.randint(1000000)
})

In [22]:
df.shape

(100000, 3)

In [23]:
%%timeit
df['cola'].apply(lambda x : x ** 2)

10 loops, best of 5: 54.4 ms per loop

In [24]:
%%timeit
df['cola']**2

The slowest run took 11.82 times longer than the fastest. This could mean that an intermediate result is being cached.
1000 loops, best of 5: 316 µs per loop

In [25]:
%%timeit
df.apply(lambda x : x.min(),axis=1)

1 loop, best of 5: 3.76 s per loop

In [26]:
%%timeit
df.max(axis=1) - df.min(axis=1)

100 loops, best of 5: 2.06 ms per loop

In [27]:
%%timeit
df.applymap(lambda x : x * 2)

1 loop, best of 5: 193 ms per loop