<a href="https://colab.research.google.com/github/Riz08/My-python-practice-repo/blob/main/Pandas_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Pivot
import pandas as pd
df = pd.read_csv('/content/weather - weather.csv')
df

In [ ]:
df.pivot(index='city',columns='date')

In [ ]:
df.pivot(index='city', columns='date', values='event')

In [ ]:
#Pivot table
import pandas as pd
df = pd.read_csv('/content/weather2 - weather2.csv')
df

         date      city  temperature  humidity
0  05-01-2017  new york           65        56
1  05-01-2017  new york           61        54
2  05-02-2017  new york           70        60
3  05-02-2017  new york           72        62
4  05-01-2017    mumbai           75        80
5  05-01-2017    mumbai           78        83
6  05-02-2017    mumbai           82        85
7  05-02-2017    mumbai           80        26

In [ ]:
df.pivot_table(index='city', columns='date')

           humidity            temperature
date     05-01-2017 05-02-2017  05-01-2017 05-02-2017
city
mumbai         81.5       55.5        76.5       81.0
new york       55.0       61.0        63.0       71.0

In [ ]:
import numpy as np
df.pivot_table(index='city', columns='date', margins=True, aggfunc=np.sum)

           humidity                 temperature
date     05-01-2017 05-02-2017  All  05-01-2017 05-02-2017  All
city
mumbai          163        111  274         153        162  315
new york        110        122  232         126        142  268
All             273        233  506         279        304  583

In [ ]:
#Grouper
df = pd.read_csv('/content/weather3.csv')

In [ ]:
df['date'] = pd.to_datetime(df['date'])

In [ ]:
df.pivot_table(index=pd.Grouper(freq='M', key='date'), columns='city')

             humidity temperature
city         new york    new york
date
2017-05-31  56.666667   65.333333
2017-12-31  51.000000   27.666667

In [ ]:
df.to_csv('Grouper.csv', index=None)

In [ ]:
#melt
import pandas as pd
df = pd.read_csv('/content/weather - weather.csv')
df

In [ ]:
melted = pd.melt(df, id_vars=['date'], var_name='city', value_name='temperature')
melted

In [ ]:
#Reshape the data frame using stack/unstack
import pandas as pd
df = pd.read_excel('stocks.xlsx', header=[0,1])
df

In [ ]:
df.stack()

In [ ]:
df.stack(level=0)

In [ ]:
df.stack(level=1)

In [ ]:
df_stacked = df.stack()
df_stacked

In [ ]:
df_stacked.unstack()

In [ ]:
df2 = pd.read_excel('/content/stocks_3_levels.xlsx',header=[0,1,2])
df2

In [ ]:
df2.stack()

In [ ]:
df2.stack(level=0)

In [ ]:
df2.stack(level=1)

In [ ]:
df2.stack(level=2)

In [ ]:
#pd.crosstab()
import pandas as pd
df = pd.read_csv("survey.csv")
df

In [ ]:
pd.crosstab(df.Nationality, df.Handedness)

In [ ]:
pd.crosstab(df.Nationality, df.Handedness, margins=True)

In [ ]:
pd.crosstab(df.Sex, df.Handedness, margins=True)

In [ ]:
#Multiindex colums and rows
pd.crosstab(df.Sex,[df.Handedness, df.Nationality], margins=True)

In [ ]:
pd.crosstab([df.Nationality, df.Sex], df.Handedness, margins=True)

In [ ]:
#Aggfunc and values
import numpy as np
pd.crosstab(df.Sex, df.Handedness,values=df.Age, aggfunc=np.average)

In [ ]:
pd.crosstab(df.Sex, df.Handedness)

Handedness  Left  Right
Sex
Female         2      3
Male           5      2

In [ ]:
#normalize
pd.crosstab(df.Sex, df.Handedness, normalize='index')

Handedness      Left     Right
Sex
Female      0.400000  0.600000
Male        0.714286  0.285714

In [ ]:
pd.crosstab(df.Sex, df.Handedness, normalize='columns')

Handedness      Left  Right
Sex
Female      0.285714    0.6
Male        0.714286    0.4

In [ ]:
pd.crosstab(df.Sex, df.Handedness, normalize='all')

In [ ]:
#Pandas.to_datetime()
import pandas as pd
dates = ['2017-01-05','Jan 5 2017', '01/05/2017',
         '2017-01-05','2017/01/05','20170105']
pd.to_datetime(dates)

DatetimeIndex(['2017-01-05', '2017-01-05', '2017-01-05', '2017-01-05',
               '2017-01-05', '2017-01-05'],
              dtype='datetime64[ns]', freq=None)

In [ ]:
pd.to_datetime('5/1/2017')

Timestamp('2017-05-01 00:00:00')

In [ ]:
pd.to_datetime('5/1/2017', dayfirst=True)

Timestamp('2017-01-05 00:00:00')

In [ ]:
t = 1651998976
dt = pd.to_datetime(t,unit='s')
dt

Timestamp('2022-05-08 08:36:16')

In [ ]:
#custom date format
pd.to_datetime('8$5$2022',format='%d$%m$%Y')

Timestamp('2022-05-08 00:00:00')

In [ ]:
m = pd.Period('2022-05')
m

Period('2022-05', 'M')

In [ ]:
d = pd.Period('2022-05-08')
d

Period('2022-05-08', 'D')

In [ ]:
h = pd.Period('2022-05-08 23:00:00', freq='H')
h + 1

Period('2022-05-09 00:00', 'H')